<div class="search" ng-controller="CardsController">
    <form>
        <h1>Jira Kanban Cards</h1>

        <p>Put your JQL query below and press the button to get the pretty print-version of your tickets:</p>

        <div class="jirainfo">
            <label>Jira-Path: </label>
            <input type="text" ng-model="path">
            <br/>

            <label>Username: </label>
            <input type="text" ng-model="username"/>
            <br/>

            <label>Password: </label>
            <input type="password" ng-model="password"/>
            <br/>

            <label>Epic: </label>
            <select
                    ng-model="selectedEpicInfo"
                    ng-options="value as value.text for value in epicInfo">
            </select>
            <br/>

            <label>JQL: </label>
            <input type="text" ng-model="jql"/>
            <br/>

            <input type="submit" value="Get tickets!" ng-click="showTickets()"/>
        </div>
    </form>
</div>